.container {
    padding: 50px 50px;
    width: 100%;
}

h3 {
    // border: 1px solid red;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    color: white;
    margin-bottom: 20px;
}

.margin-top-50 {
    margin-top: 50px;
}

.social-item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}